{% extends 'base.html' %}


{% block page_content %}

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">LISTADO DE CEPAS</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">ACCIONES:</div>
                      <a class="dropdown-item" href="{% url 'vino:cepanew' %}" ><i class="far fa-calendar-plus"></i> Nueva</a>
                     
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 
                 {% if not obj %}
                     No hay cepas
                 {% endif %}
                 <table class="table table-striped table-hover"
                 id="table"
                 data-toggle="table"
                 data-pagination="true"
                 data-search="true"
                 data-show-columns="true"
                 data-show-toggle="true"
                 data-show-fullscreen="true"
                 data-toolbar=".buttons-toolbar"
                 data-locale="es-NI"
                 >
                    <thead>
                  <th data-sortable="true" data-field="nombre">Nombre</th>
                  <th data-sortable="true">Descripcion</th>
     <th>Estado</th>
     <th>Usuario creador</th>
     <th>Ultima modificacion</th>
     
    <th class="all">Editar</th>
                    </thead>
<tbody>
    
  
      
   
      
    {% for item in obj  %}
    
   
    <tr>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        
        <td> 
          
          {% if item.estado %}
            Activo
            {% else %}
            Inactivo
          {% endif %}
            

        </td>
        <td>{{item.uc}}</td>
        <th>{{item.fm}}
          {{item.um}}
        </th>
        <td>
            <a href="{% url 'vino:cepaupdate' item.id %} "class="btn btn-warning btn-circle " role="button" ><i class="far fa-edit"></i></a>
           
        </td>
    </tr> 
   
        
    {% endfor %}
        
</tbody>

                 </table>
                     
                </div>
              </div>
    
{% endblock page_content %}

{% block js_page %}

{% endblock js_page %}
    
    