{% extends 'base.html' %}


{% block page_content %}

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">LISTADO DE PRODUCTOS</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">ACCIONES:</div>
                      <a class="dropdown-item" onclick="return abrir_modal('{% url 'vino:crearvino' %}')">Nuevo</a>
                      
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 
                 {% if not obj %}
                     No hay vinos
                 {% endif %}
                 <table class="table table-striped table-hover"
      id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
                 
  
                 
                 >

                  <thead>
                         <th data-sortable="true" data-field="nombre" >nombre</th>
     <th data-sortable="true" data-field="codigo">Codigo</th>
  
     <th data-sortable="true" data-field="reserva">Categoria</th>
    
     <th data-sortable="true" data-field="descripcion">Descripcion</th>
     <th data-sortable="true" >Precio</th>
     <th data-sortable="true">Existencia</th>
     <th data-sortable="true">Unidad</th>
     <th data-sortable="true" >Ultimacompra</th>
    <th class="all" >Editar</th>
                    </thead>
<tbody>
    
    {% for item in obj  %}
    <tr>
     
        <td>{{item.nombre}}</td>
        <td>{{item.codigo}}</td>

        <td>{{item.reserva}}</td>

        <td>{{item.descripcion}}</td>
        <td>{{item.precioventa}}</td>
        <td>{{item.existencia}}</td>
        <td>{{item.unidad}}</td>
        <td>
          
          {% if item.ultimacompra %}
          {{item.ultimacompra}}
          {% else %}
          No hay compras registradas
            
          {% endif %}
            </td>
      
        <td>
          <button type="submit" class="btn btn-warning btn-circle " role="button" onclick="return abrir_modal('{%url 'vino:vinoupdate' item.id %} ')"><i class="far fa-edit"></i></button>
          
        </td>
    </tr>
        
    {% endfor %}
        
</tbody>

                 </table>
                     
                </div>
              </div>
    
{% endblock page_content %}

{% block js_page %}
    
{% endblock js_page %}
    
    