{% extends 'base.html' %}


{% block page_content %}

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">LISTADO DE CLIENTES</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </a>
                 
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                 
                 {% if not obj %}
                     No hay cliente
                 {% endif %}
                 <div class="buttons-toolbar"> <a class="dropdown-item" href="#" onclick="return abrir_modal('{% url 'ventas:cliente_new' %}')"><i class="far fa-calendar-plus"></i>Nueva</a></div>
                 <table data-toggle="table"
                 id="table"

                 data-pagination="true" 
                 data-search="true"
                 data-show-columns="true"
                 data-show-toggle="true"
                 data-show-fullscreen="true"
                 data-toolbar=".buttons-toolbar"
                 data-locale="es-AR"

                 >
                    <thead>
   <th data-sortable="true" data-field="id" >id</th>
    <th data-sortable="true" data-field="nombre" >nombre</th>
    <th data-sortable="true" data-field="tipo" >tipo</th>
     <th data="numero" >numero</i></th>
     <th  data="email"  >email</th>
 
     <th data="estado"  >estado</th>
    <th class="all">Editar</th>
                    </thead>
<tbody>
    
    {% for item in obj  %}
    <tr>
      <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.tipo}}</td>
        <td>{{item.numero}}</td>
        
        <td>{{item.email}}</td>
      
        <td >{{item.estado|yesno:"Activo,Inactivo"}}
        </td> 
    <td>
      <button type="submit" class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'ventas:cliente_edit' item.id %}')"><i class="far fa-edit"></i></button>
 
         
        </td>  
    </tr>
        
    {% endfor %}
        
</tbody>

                 </table>
                     
                </div>
              </div>
    
{% endblock page_content %}
{% block js_page %}

<script>

     </script>
{% endblock %}
    