{% extends 'base.html' %}


{% block page_content %}

              <!-- Dropdown Card Example -->
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">REGISTRO DE ANIMALES</h6>
                  <div class="dropdown no-arrow">
                  <a href="{% url 'reses:tropas' %}" class="btn btn-google">Volver</a>
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      
                    
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                
                 <table class="table table-striped table-hover"
                 
                 id="table"
      data-toggle="table"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="true"
      data-toolbar=".buttons-toolbar"
      data-locale="es-NI"
                 
                 
                 
                 >
                    <thead>
                        <th data-sortable="true" >Identificacion</th>
                    
                      <th>Peso</th>
     <th  >Fecha de ingreso| usuario</th>
     <th>Ultma modificacion | usuario</th>
     <th  data-field="estado">Estado</th>
     <th  class="all">Editar</th>
                    </thead>
<tbody>
    
    {% for item in lista  %}
    <tr>
        <td>{{item}}</td>
  
        <td>{{item.peso_animal}}</td>
        <td>{{item.fc}} | {{item.uc}}</td>
        <td> {{item.fm}} |
          {{item.um}}
        </td>
        <td>
          
          {% if  item.estado %}
          Activo
            {% else  %}
           Eliminada
          {% endif %}
            
         
        </td>
        <td>
            <a href="" class="btn btn-warning btn-circle " role="button" ><i class="far fa-edit"></i></a>
           
        </td>
    </tr>
        
    {% endfor %}
        
</tbody>

                 </table>
                     
                </div>
              </div>
    
{% endblock page_content %}

{% block js_page %}
<script>

     </script>
{% endblock js_page %}
    
    