{% extends 'base.html' %}


{% block page_content %}

<form method="POST" class="form-inline">
    {% csrf_token %}
    <div class="col-xl-6 col-md-6 mb-6">
        {% if obj %}
        <div class="card border-left-warning shadow h-100 py-2">
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
        {% endif %}
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        {% if obj %} Editar {% else %} Nueva {% endif %} Venta de res
                    </div>
                    <div class="dropdown-divider"></div>
                  
<div class="row justify-content-between">
    
    <div class="col-4" style="margin-top: 10px;">
        <label for="id_medio_pago "  style="margin-top: 10px;">Medio de pago</label>
        
        {% if obj %}
        <select name="medio_pago" id="id_medio_pago"  style="margin-top: 10px;" class="form-control">
    <option value="{{obj.medio_pago}}">{{obj.medio_pago}}</option>
        </select>
            {% else %}
            {{form.medio_pago}}
        {% endif %}
            
      
      
    </div>

    <div class="col-4"  >
        <label for="id_res" style="margin-bottom: 20px;">Media res</label>
        
        <select name="res" id="id_res" required  style="margin-bottom: 20px;" class="form-control">
            
            {% if obj %}
            <option value="{{obj.res.id}}" >{{obj.res}}</option>
                {% else %}  
                     
            {% for item in reses %}
            <option value="{{item.id}}" >{{item}}</option>
            {% endfor %}  
            
            {% endif %}
        </select>
    </div>



    
   </div>
   <div class="dropdown-divider"></div>
<div class="row justify-content-between" >
 
      
   <div class="col-6">   
   
    <label for="id_precio" style="margin-top: 20px;">Precio</label>
    <input type="text" id="id_precio" required name="precio"  class="form-control" value="{% if obj %}{{obj.precio}}{% endif %}">
 
</div>
    <div  class="col-6">
        <label for="id_cliente">Cliente</label>
     <select id="id_cliente" name="cliente" required class="form-control">
         
         {% if obj %}
         <option value="{{obj.cliente.id}}">{{obj.cliente}}</option>
         {% else %}
         {% for item in clientes %}
         <option value="{{item.id}}">{{item}}</option>
         {% endfor %}   
         {% endif %}
             
      
     </select>
    </div>
</div>
<div class="row">
    
{% if obj %}
    
<div>
    <label for="id_estado" >Dar de baja venta</label>
    {{form.estado}}
</div>

{% endif %}
    
</div>

                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                            <a href="{% url 'reses:listaresesvendidas' %}" class="btn btn-success"><span class="fa fa-undo"></span>Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</form>

  {% endblock page_content %}

